<div class="container menu-pizzaria" id="cardapio-pizzaria">
{{>msg}}
<h3 class="titulo-categoria">Pizzas</h3>
{{#each categorias}}
    <div class="card mb-1 menu-opcao d-flex p-3">
        <h4>{{this.nome}}</h4>
        <span class="text">{{this.descricao}}</span>
        <div class="d-flex">
            <div class="text area-preco">
                <span>R$<span class="preco">{{this.preco}}</span></span><br>
            </div>
            <div class="ml-auto">
                <button class="material-icons btn btn-success sm">add_shopping_cart</button>
                <button class="material-icons btn btn-danger">remove_shopping_cart</button>
            </div>
        </div>
    </div>
{{else}}

{{/each}}
<!--<a href="/categorias/add"><button class="btn btn-success">Nova categoria</button></a>
{
    "nome":"",
    "descricao":"",
    "preco":50.00
}
-->
</div>
