<form class="form-login container" method="post" name="form-login">
    {{>msg}}
    <h3 class="titulo-login">Login Pizzaria</h3>
    <div class="container">
        <input type="email" class="input-login" placeholder="E-mail" name="email" required><br>
        <input type="password" class="input-login" placeholder="Senha" name="password" required>
    </div>
    <div class="area-botoes container">
        <a><button type="submit" class="button-login" formaction="/login">Logar</button></a>
        <a href="/cadastro"><button type="button" class="button-login">Criar conta</button></a>
    </div>
</form>