<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mohave:wght@300&family=Nunito&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Pizzaria</title>
	<style>
		*{
			margin: 0;
			padding: 0;
		}

		body{
			background-color: #F35B04;
		}
		
		.form-login{
			margin: 9% auto ;
			width: fit-content;
			height: fit-content;
			background-color: #F3EFF5;
			border-radius: 25px;
			box-shadow: 1px 1px 4px 1px #1C1C1C;
			padding: 10px;
			text-align: center;
		}

		.input-login{
			font-size: 18px;
			border-radius: 5px;
			text-align: center;
			width: 300px;
			margin: 10px;
			border-color: #F35B04;
		}

		.titulo-login{
			text-align: center;
			color: #1C1C1C;
		}

        .titulo-categoria{
            font-family: 'Kaushan Script', cursive;
            padding: 10px;
            text-align: center;
            font-size: 3em;
        }

        h4{
            font-family: 'Kaushan Script', cursive;
        }

        a{
            font-family: 'Kaushan Script', cursive; 
        }

		.button-login{
			width: 120px;
			height: 40px;
			font-size: 18px;
			background-color: #F9DC5C;
			/*color: #F3EFF5;*/
			border: 2px solid #1C1C1C;
			border-radius: 10px;
			margin: 10px;
		}
        
        .menu-navegacao{
            top:0;
            position: fixed;
            width: 100%;
            z-index: 10;
        }

        .menu-pizzaria{
            margin-top: 55px;
            background-color: #F9DC5C;
            padding: 7px;
            position: relative;
            box-shadow: 0.5px 2px 2px 2px #1c1c1c;
        }

        /*.menu-opcao:hover{
            color: #F3EFF5;
            background-color: #F35B04;
            transition: 1s;
            opacity: 0.8;
        }*/

        .bg-navbar{ /*Estilizacao da cor do menu de navegacao*/
            background-color: #1C1C1C;
        }

        .text{ /*Estilizacao dos textos*/
            font-size: 1.2em;
            text-align: justify;
            font-family: 'Nunito', sans-serif;
        }

        .area-preco{ /*Estilizacao do preco*/
            font-weight: bold;
            padding-top: 12px;
            color: rgb(0, 0, 0);
        }

        .sub-area-pizzas{
            border: 1px solid black;
            border-radius: 5px;
            margin-top: 10px;
            display: flex;
            flex-direction: row;
            overflow-x: auto;
            overflow-y: none;
            padding: 10px;
            align-items:stretch;
        }

        .btn-metade-pizza{
            margin-left: 10px;
        }

        .btn-meia-pizza{
            width: 42px;
            height: 38px;
        }

        .img-meia-pizza{
           width: 22px;
           height: 22px; 
           margin: -5px;
           margin-top: -12px;
        }

        .input-preco{
            width: 58px;
            height: 38px;
            border: 1px solid #8e8e8e;
        }

        #carrinho{
            padding-left: 30px;
        }
	</style>
</head>
<body>
    {{>navbar}}
    {{{body}}}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>